<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicition</title>
</head>
<body>
 <h1>Enter the Symptoms</h1>
<form action="{{url_for('predict')}}" method="post">
<label for="symptom1">symptom1</label><br>
<input type="text" id="symptom1" name="symptom1" value="0"><br>
    <label for="symptom2">symptom2</label><br>
<input type="text" id="symptom2" name="symptom2" value="0"><br>
    <label for="symptom3">symptom3</label><br>
<input type="text" id="symptom3" name="symptom3" value="0"><br>
    <br>
<button type="submit" class="btn">Predict</button>
    <br><br>
</form>
{{ prediction_text }}
</body>
</html>